extends ../../layout

block content
  div(class='col-md-6')
    form(id='location-add-form' name='location-add-form' class='form-horizontal' method="POST" action='')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') name
        div(class='col-md-9')
          input(id='name' name='name' value=$fn.getPropOrDefault(newLocation, 'name') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='cap') cap
        div(class='col-md-9')
          input(id='cap' name='cap' value=$fn.getPropOrDefault(newLocation, 'cap') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='weight') weight
        div(class='col-md-9')
          input(id='weight' name='weight' value=$fn.getPropOrDefault(newLocation, 'weight') class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Create