extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/shop') Shop
      a(href='/station') Station
      a(href='/planet') Planet
      a(href='/statioonorbit') Station On Orbit
      a(href='/loads') Loads